#logo2012 > a {opacity: 0!important;}
#logo2012 {background:url('http://img15.hostingpics.net/pics/444722Logo.png') !important;}

#blochaut, #blochaut_vip {background:url('http://img15.hostingpics.net/pics/827708haut.png') !important;}
#deco {display: none;}
#blochautlogout {background:url('http://img11.hostingpics.net/pics/722879logout.png') !important;}

#barrejaune {background:url('http://img15.hostingpics.net/pics/111572barre.png') !important; width: 365px;}
#fiche_info {background:url('http://img15.hostingpics.net/pics/389191info.png') !important;}
#fiche_share {background:url('http://img15.hostingpics.net/pics/308705share.png') !important;}

#fiche_loft {border-color: #000000; }

#contenu2012 { background-color: transparent !important;}

#offres {background:url('http://img15.hostingpics.net/pics/174844offre.png') !important; margin-bottom: 15px;}

#pub_flash {margin-top:40px;}

#gauche_note {background:url('http://img15.hostingpics.net/pics/902774Votes.png') !important;}

#gauche_comz {background:url('http://img15.hostingpics.net/pics/305998Com.png') !important;}
#laissercom {opacity: 30!important;}
.bullecom{ background:url(http://img15.hostingpics.net/pics/954709Bulle.png) no-repeat;}

#gauche_amiz {background:url('http://img15.hostingpics.net/pics/840379amiz.png') !important;}
#gauche_amiz_contenu {text-align: center;}

#gauche_bonte {background:url('http://img15.hostingpics.net/pics/155150Bonte.png') !important;}
#gauche_bonte_contenu p {margin-left:30px;}
#gauche_cadeau {left: 70px; margin-top: -10px;}

#blocgauche_online {background:url('http://img15.hostingpics.net/pics/894401online.png') !important;}

#qsj_view_haut {margin-top:15px; background:url('http://img15.hostingpics.net/pics/638604QsjHaut.png') !important; height: 275px; width:598 px; no-repeat;}

#qsj_view_milieu {background:url('http://img15.hostingpics.net/pics/275549QsjMilieu2.png') !important;}

#fiche_espsm {background:url('http://img15.hostingpics.net/pics/288441esp.png') !important;}

#qsj_view_bas {background:url('http://img15.hostingpics.net/pics/435554Qsjbas.png') !important; height: 275px;}

#footer2012 {margin-top:15px; padding-top: 80px; height:80px; background:url('http://img15.hostingpics.net/pics/847201footer.png') !important;}
